*{
  margin: 0;
  padding: 0;
}


body {
background-color: var(--body);
font-family: var(--font);
height: 100%;
position: relative;
overflow: hidden;
width: 100%;
}
header {
  background-color: var(--tertiary);
  display: inline-block;
  min-width: 100%;
  width: 100%;
  height: 90px;
  position: relative;
}
/*Hamburger Icon */
.menu-icon{
  display: none;
}
.menu-items{
  display: none;
}

/* End of Hamburger Icon */

h1{

  font-size: 35px;
  color: var(--primary);
  margin: 22px 30px 30px;
  font-weight: 600;

}
.search-container {
float: right;
margin: 20px;
}
input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
min-width: 15vw;
max-width: 25vw;
border-radius: 2px 0 0 2px;
}
input[type=text]::placeholder{
font-size: 12px;
text-align: center;
}
input[type=text]:focus{
outline-color: var(--secondary);
}

.search-container button {
float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: var(--body);
font-size: 17px;
border: none;
cursor: pointer;
}

/* End f Header */


/* Sidebar */

.sidebar {
height: 100vh;
width: 110px;
position: absolute;
left: 0;
background-color:var(--sidebarbgcolor);
filter: drop-shadow(0px 4px 4px rgba(203, 235, 254, 1));
}
.fa-ticket::before {
  font-size: 30px;
  color: var(--secondary);
}

.fa-ticket::before {
font-size: 30px;
color: var(--secondary);
}

.fa-user-friends::before {
font-size: 30px;
color: var(--secondary);
}
.fa-user-circle::before{
font-size: 30px;
color: var(--secondary);
}  
.fa-sign-out-alt::before{
font-size: 30px;
color: var(--secondary);

} 

.sidebar a {
  padding: 30px;
  text-decoration: none;
  color: var(--sidebarAcolor);
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 8px;
}
.sidebar a:hover{
  color: var(--sidebarHovercolor);
  background-color:var(--primary); 
  
}
a:nth-child(4){
      font-size: 9px;
      position: absolute;
      bottom: 1.5%;
      left: 5px;
      
  }

a:nth-child(4):hover{
    color: var(--primary);
    background-color: var(--editicon);
    width: initial;
    
}

/* End of Sidebar */

/* Panel */
.panel {
width: 80%;
height: 90vh;
display: flex;
position: relative;
margin: auto;
}
.addTicket{
background-color:var(--secondary);
border: var(--secondary);
border-radius: 4px;
color: var(--primary);
padding: 5px;
position: absolute;
min-width: 10%;
max-width: 15%;
min-height: fit-content;
height: fit-content;
font-size: var(--desktopfontsize);
width: 12%;
cursor: pointer;
top: 7%;
left: 15%;

}
.addTicket:hover{
background-color: var(--addtickethover);
}
.filterIcon{
color: var(--secondary);
font-size: 15px;
height: 22px;
width: 100px;
box-sizing: border-box;
position: absolute;
top: 12%;
left: 89%;
cursor: pointer;

}
.filterIcon i{
margin-left: 7px;
} 
.tablePanel{
background-color: var(--primary);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(221 ,221, 221,1));
position: absolute;
top: 15%;
left: 15%;
right: 20%;
width: 80%;
height: 65vh;
border-radius: 10px;
overflow: auto;
scrollbar-width: none;

}

table {
border-collapse: collapse;
margin: 0;
padding: 0;
width: 100%;
table-layout: fixed;
}

table caption {
font-size: 1.5em;
margin: .5em 0 .75em;
}

table tr {
color: var(--trcolor);
padding: .35em;

}

table tr:nth-of-type(even){
background-color: var(--tabletreven);
}
table tr:hover{
background-color: var(--tertiary);
}

table th,
table td {
padding: .625em;
text-align: center;
}

table th {
color: var(--primary);
font-size: 1em;
letter-spacing: .1em;
text-transform: uppercase;
position: sticky;
top: 0;
}
table th  {
background-color: var(--secondary);
}
table th:first-child{
border-radius: 10px 0 0 0;
}
table th:last-child{
border-radius: 0 10px 0 0;
}


/* Modal */
.modal {
display: none; 
position: fixed; 
z-index: 1; 
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}

.addticketPanel{
animation: key;
animation-duration: 1s;
animation-delay: 0;
background-color: var(--primary);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
width: 40%;
height: 700px;
position: absolute;
top: 20%;
left: 33%;
border-radius: 5px 5px 0 0;
z-index: 1;
}
@keyframes key{
from {
    opacity: .5;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.addticketHeader{
position: absolute;
color: var(--primary);
background-color: var(--tertiary);
border-radius: 5px 5px 0 0;
width: 100%;
height: 50px;
}
.addticketHeader h2{
font-size: 20px;
font-weight: 200;
margin: 15px;
}
.close {
color: white;
float: right;
margin: 7px;
margin-right: 10px;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.formPanel{
 
width: 100%;
height: 32vh;
position: absolute;
top: 15%;
}
.formPanel h5{
font-size: 17px;
font-weight: 200;
margin: 10px;
}
.formPanel form{
box-sizing: border-box;
display: block;
margin: 15px;
padding: 5px;
}
.formPanel form label{
font-size: 15px;
margin-left: 5px;
}
.formPanel form select{
font-size: 13px;
max-width: 90%;
width: 85%;
max-height: 30px;
height: 30px;
margin: 12px;
margin-left: 10%;
}
.formPanel form input[type=text]{
border: 1px solid var(--trcolor);
font-size: 12px;
max-width: 90%;
width: 82%;
height: 10vh;
margin: 12px;
margin-left: 10%;
}
.formPanel form input[type=submit]{
text-align: center;
border-radius: 2px;
position: absolute;
font-size: 15px;
margin-top: 15px;
max-width: 20%;
width: 15%;
max-height: 4vh;
height: 3vh;
color: var(--primary);
padding: 3px;
background-color: var(--addtickethover);
border: var(--addtickethover);
left: 77.5%;
}
.formPanel form input[type=submit]:hover{
background-color: var(--secondary);
}





@media screen and (max-width:720px){

header{
  width: 100%;
}
.search-container{
  display: none;
}
h1{
  text-align: center;
}
.sidebar{
display: none;
}


/* Hamburger Icon */
  
 .menu-icon {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 40px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
.bar {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}
.menu-items {
  color: white;
  display: none;
  position: absolute;
  top: 5%;
  left: 0;
  width: 100px;
  padding: 10px;
  background-color: #00568A;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}


.menu-items li {
margin-top: 50%;
padding: 20px;
}
.menu-items li a{
color: var(--primary);
text-decoration: none;
}

.menu-items li a:hover{
text-decoration: underline;
}


.logout{
font-size: 14px;
background-color: var(--editicon);
}

.menu-icon.clicked .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
background-color: white;
}

.menu-icon.clicked .bar:nth-child(2) {
opacity: 0;
}

.menu-icon.clicked .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
background-color: #fff;
}

.menu-icon.clicked + .menu-items {
display: block;
height: 100vh;
position: absolute;
top:99%;
left: 0;
animation: slideDown 0.3s ease-in-out;
z-index: 2;
}

@keyframes slideDown {
from {
  opacity: 0;
  transform: translateY(-10px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}
/* End of Hamburger Icon */

.addTicket{
height: fit-content;
font-size: var(--mobilefontsize);
width: 15%;
cursor: pointer;
}
.filterIcon{
display: none;
top: 12%;
left: 70%;
}
.filterIcon i{
font-size: 12px;
}


.tablePanel{
scrollbar-width: none;
background-color: var(--primary);
box-sizing: border-box;
position: absolute;
top: 15%;
left: 18%;
right: 20%;
width: 65%;
height: 65vh;
border-radius: 10px;
}


table {
border: 0;
margin: 0;
padding: 0;
width: 100%;
table-layout: fixed;

}

table caption {
font-size: 1.3em;
}
table thead {
border-collapse: collapse;
color: var(--secondary);
border: none;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: unset;
width: 1px;
}


table tr {
border-collapse: collapse;
color: var(--trcolor);
display: block;
margin-bottom: .625em;
padding: 4px;
}
table tr:nth-of-type(even){
background-color: var(--tabletreven);
}

table tr:hover{
background-color: var(--tertiary);
}

table th,
table td {
padding: .625em;
text-align: center;
}
table td {
display: block;
font-size: .8em;
text-align: right;
}
table td::before {

content: attr(data-label);
float: left;
font-weight: bold;
text-transform: uppercase;
}

table td:last-child {
border-bottom: 0;
}

table th {
font-size: .85em;
letter-spacing: .1em;
text-transform: uppercase;

}
.addticketPanel{
min-width: 60%;
height: 380px;
left: 20%;
}
.formPanel{
top: 12%;
}
.formPanel h5{
font-size: 12px;
}
.formPanel form label{
font-size: 12px;
}
.formPanel form input[type=submit]{
min-width: 20%;
font-size: 12px;
left: 71%;
}
}


@media screen and (min-width: 720px) and (max-width: 1080px){
  /* Hamburger Icon */
  
 .menu-icon {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 40px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
.bar {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}
.menu-items {
  color: white;
  display: none;
  position: absolute;
  top: 5%;
  left: 0;
  width: 100px;
  padding: 10px;
  background-color: #00568A;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}


.menu-items li {
margin-top: 50%;
padding: 20px;
}
.menu-items li a{
color: var(--primary);
text-decoration: none;
}

.menu-items li a:hover{
text-decoration: underline;
}


.logout{
font-size: 14px;
background-color: var(--editicon);
}

.menu-icon.clicked .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
background-color: white;
}

.menu-icon.clicked .bar:nth-child(2) {
opacity: 0;
}

.menu-icon.clicked .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
background-color: #fff;
}

.menu-icon.clicked + .menu-items {
display: block;
height: 100vh;
position: absolute;
top:99%;
left: 0;
animation: slideDown 0.3s ease-in-out;
z-index: 2;
}

@keyframes slideDown {
from {
  opacity: 0;
  transform: translateY(-10px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}
/* End of Hamburger Icon */
h1{
  text-align: center;
}
.sidebar{
  display: none;
} 
.filterIcon{
  display: none;
}

.tablePanel{
  left: 10%;
}
.addTicket{
left: 10%;
width: 15%;
font-size: var(--tabletfontsize);
}
.addticketPanel{
min-width: 65%;
max-width: 68%;
left: 17%;

}
}
@media screen and (min-width: 1080px) and (max-width: 1920px){
.addticketPanel{
height: 450px;
}
/* Sidebar */

.sidebar {
  height: 100vh;
  width: 110px;
  position: absolute;
  left: 0;
  background-color:var(--sidebarbgcolor);
  filter: drop-shadow(0px 4px 4px rgba(203, 235, 254, 1));
}
.fa-ticket::before {
    font-size: 30px;
    color: var(--secondary);
}

.fa-ticket::before {
  font-size: 30px;
  color: var(--secondary);
}

.fa-user-friends::before {
  font-size: 30px;
  color: var(--secondary);
}
.fa-user-circle::before{
  font-size: 30px;
  color: var(--secondary);
}  
.fa-sign-out-alt::before{
  font-size: 30px;
  color: var(--secondary);

} 

.sidebar a {
    padding: 30px;
    text-decoration: none;
    color: var(--sidebarAcolor);
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 8px;
  }
.sidebar a:hover{
    color: var(--sidebarHovercolor);
    background-color:var(--primary); 
    
  }
  a:nth-child(4){
        font-size: 8px;
        position: absolute;
        bottom: 1.5%;
    }
 
.sidebar a:nth-child(4):hover{
      color: var(--primary);
      background-color: var(--editicon);
  }

/* End of Sidebar */
   

}

@media screen and (min-width: 1920px){
.addTicket{
  min-width: 10%;
  max-width: 12%;
}
.tablePanel{
  min-width: 70%;
  max-width: 72%;
}
.filterIcon{
  left: 82%;
}
.addticketPanel{
  height: 430px;
 
}
/* Sidebar */

.sidebar {
  height: 100vh;
  width: 110px;
  position: absolute;
  left: 0;
  background-color:var(--sidebarbgcolor);
  filter: drop-shadow(0px 4px 4px rgba(203, 235, 254, 1));
}
.fa-ticket::before {
    font-size: 30px;
    color: var(--secondary);
}

.fa-ticket::before {
  font-size: 30px;
  color: var(--secondary);
}

.fa-user-friends::before {
  font-size: 30px;
  color: var(--secondary);
}
.fa-user-circle::before{
  font-size: 30px;
  color: var(--secondary);
}  
.fa-sign-out-alt::before{
  font-size: 30px;
  color: var(--secondary);

} 

.sidebar a {
    padding: 30px;
    text-decoration: none;
    color: var(--sidebarAcolor);
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 8px;
  }
.sidebar a:hover{
    color: var(--sidebarHovercolor);
    background-color:var(--primary); 
    
  }
  a:nth-child(4){
        font-size: 8px;
        position: absolute;
        bottom: 1.5%;
    }
 
.sidebar a:nth-child(4):hover{
      color: var(--primary);
      background-color: var(--editicon);
  }

/* End of Sidebar */
   

}




